/build
*/build
*.iml
*.DS_Store
.idea/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
local.properties
.gradle
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
ipcview/.classpath
ipcview/.project
ipcview/.settings/org.eclipse.buildship.core.prefs
linkvisualapi/.classpath
linkvisualapi/.project
linkvisualapi/.settings/org.eclipse.buildship.core.prefs
